.contact {
	h1 {
		margin-top: 32px;
		margin-bottom: 32px;
	}

	form {
		margin-top: 32px;

		> .form-input {
			margin-bottom: 12px;

			> label {
				display: inline-block;
				min-width: 120px;
			}
		}
	}
}
