@import "../abstracts/base";

html {
  overflow: scroll;
  overflow-x: hidden;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  width: 1000px;
  margin: 0 auto;

  @include responsive(xl) {
    width: 80%;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}
